:root {
    /*dark shades color*/
    --dsColor: #131B25;

    --c-gray-900: #131B25;
    --c-gray-600: #313131;
    --c-gray-500: #969593;
    --c-gray-100: #ffffff;

    --c-orange: #f57c00;;
    --c-red: #f00;
    --c-green: #4caf50;

    --c-text-primary: var(--c-gray-100);
    --c-text-secondary: var(--c-gray-500);

    --component-background: rgba(0, 0, 0, 0.45);

    /* Draw diagram variables */
    --zoomRatio: 1;
    --widthBase: 40;
    --widthUnit: 40px;
    --heightUnit: 22px;
    --unitResolution: 10;

    /* Scale */
    /* Low ticks */
    --ruler1-x: 2px;
    --ruler1-c: var(--c-text-primary);
    --ruler1-h: 10px;
    --ruler1-space: var(--widthUnit);

    /* Tall ticks */
    --ruler2-x: 1px;
    --ruler2-c: var(--c-text-secondary);
    ;
    --ruler2-h: 3px;
    --ruler2-space: calc(var(--widthUnit)/var(--unitResolution));
}

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
}

.gridsContainer {
    min-height: 85vh;
    max-height: 85vh;
    overflow: scroll;
    margin-left: 15vw;

    padding: 1vw;
    background: var(--component-background);
    box-shadow: 0px 1px 5px 1px var(--dsColor);
    backdrop-filter: blur(30px);
    border-radius: 15px;
}

.mainDiagram {
    display: grid;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    max-height: 85vh;
    width: 12vw;
    position: fixed;

    background: var(--component-background);
    box-shadow: 0px 1px 5px 1px var(--dsColor);
    padding: 1vw;
    border-radius: 15px;
    backdrop-filter: blur(30px);
}

#actionRowsContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    direction: rtl;
    justify-content: center;
    padding: 2vh;
}

.addRowBtn {
    width: 90%;
}

.zoomBtn {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.zoomBtn>button {
    width: 45%;
}

.logoRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 0.2rem solid var(--c-gray-500);
}

.title {
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: var(--c-text-primary);
}

.logo {
    margin: 0.5 rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: var(--c-text-primary);
}

.diagramData {
    display: grid;
    justify-items: stretch;
    text-align: center;
    grid-template-rows: var(--unitResolution);
    margin-top: 5vh;
}

.diagramRow {
    cursor: pointer;
    border-radius: 10px;
    color: var(--c-gray-900);
    margin: 0.1vh;
}

.scale {
    display: grid;
    padding-bottom: 20px;
    justify-items: center;
    grid-template-rows: calc(1.5* var(--heightUnit));
    align-items: end;

    background-image:
        linear-gradient(90deg, var(--ruler1-c) 0 var(--ruler1-x), transparent 0),
        linear-gradient(90deg, var(--ruler2-c) 0 var(--ruler2-x), transparent 0);
    background-repeat: repeat-x;
    background-size:
        var(--ruler1-space) var(--ruler1-h),
        var(--ruler2-space) var(--ruler2-h);
    max-height: var(--heightUnit);
    position: fixed;
    backdrop-filter: blur(20px);
}

.scale>div {
    /* align scale numbers under scale main lines */
    margin-left: calc(var(--widthUnit) * -1);
}

.actionNameRow {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--c-gray-500);
}

.deleteBtn {
    position: absolute;
    right: -2rem;
    top: 2rem;
}

.diagramRow {
    position: relative;
    display: inline-block;
}

/*popup appears on top */
.popup {
    visibility: hidden;
    width: 16rem;
    background-color: var(--component-background);
    box-shadow: 0px 1px 5px 1px var(--dsColor);
    backdrop-filter: blur(30px);
    color: var(--c-text-primary);
    text-align: center;
    border-radius: 10px;
    padding: 0.8rem 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -8rem;
}

/* Popup arrow */
.popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popupShow {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

input:invalid {
    background-color: red !important;
}

input[type="text"],
select {
    font-size: 1rem;
    width: 40%;
    padding: 0.4rem;
    border-radius: 10px;
    background: var(--component-background);
    color: var(--c-text-primary);
    font-family: "Poppins", sans-serif;
    border: 0;
    outline: 0;
    text-align: center;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
}


body {
    background: linear-gradient(45deg, #1D1A39 0%, #662549 35%, #F39F5A 100%);
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    line-height: 1.5;
    color: var(--c-text-primary);
    background-size: cover;
    background-attachment: fixed;
}

button {
    background: dodgerblue;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;
}