:root {
    /* Color palette */
    /*background color*/
    --bgColor: #E3E8ED;
    /*contrast color*/
    --contrastColor: #7DBCB8;
    /*main color*/
    --mainColor: #136F96;
    /*dark accent color*/
    --daColor: #50708B;
    /*dark shades color*/
    --dsColor: #131B25;

    /* Draw diagram variables */
    --zoomRatio: 1;
    --widthBase: 40;
    --widthUnit: 40px;
    --heightUnit: 22px;
    --unitResolution: 5;

    /* Scale */
      /* Low ticks */
  --ruler1-x: 2px;
  --ruler1-c: var(--daColor);
  --ruler1-h: 10px;
  --ruler1-space: var(--widthUnit);

  /* Tall ticks */
  --ruler2-x: 1px;
  --ruler2-c:  var(--daColor);
  --ruler2-h: 3px;
  --ruler2-space: calc(var(--widthUnit)/var(--unitResolution));
}

.container {
    color: var(--bgColor);
    padding: 0;
    margin: 0;
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 150px;
    height: 100vh;
    background-color: var(--daColor);
    color: var(--bgColor);
    transition: 100ms ease;
    position: relative;
    box-shadow: 0px 1px 5px 1px var(--daColor);
}

.sidebarSmall {
    width: 6%;
    min-width: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title {
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.logo {
    color: var(--contrastColor);
    margin: 5px;
}

.hideText {
    display: none;
}

.arrow {
    border: solid var(--daColor);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: 400ms ease;
    transform: rotate(135deg);
}

.arrowTransform {
    transform: rotate(-45deg);
}

#toggleSidebarBtn {
    position: absolute;
    border: none;
    height: 40px;
    width: 30px;
    border-radius: 0 15% 15% 0;
    box-shadow: 0px 1px 5px 1px var(--daColor);
    left: 100%;
    cursor: pointer;
}

.mainDiagram {
    display: grid;
    background-color: orange;
    height: 100%;
}


.actionNameInput {
    width: 100px;
    background-color: var(--daColor);
    border: none;
    color: var(--contrastColor);
}

.actionNameInput:hover {
    color: var(--bgColor);
    cursor: pointer;
}

.actionTimeInput {
    width: 50px;
    background-color: var(--daColor);
    border: none;
    color: var(--contrastColor);
}

.actionTimeInput:hover {
    color: var(--bgColor);
    cursor: pointer;
}

.diagramData {
    display: grid;
    justify-items: stretch;
    text-align: center;
    grid-template-rows: 22px;
}

.diagramRow {
    cursor: pointer;
}

.scale {
    display: grid;
    justify-items: center;
    grid-template-rows: calc(1.5* var(--heightUnit));
    align-items: end;

    background-image:
    linear-gradient(90deg, var(--ruler1-c) 0 var(--ruler1-x), transparent 0),
    linear-gradient(90deg, var(--ruler2-c) 0 var(--ruler2-x), transparent 0);
    background-repeat: repeat-x;
    background-size:
      var(--ruler1-space) var(--ruler1-h),
      var(--ruler2-space) var(--ruler2-h);
    }

.scale > div{
    /* align scale numbers under scale main lines */
    margin-left: calc(var(--widthUnit) * -1 );    
}

.actionNameRow {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

select {
    background-color: var(--daColor);
    border: none;
    color: var(--contrastColor);
}

.zoomBtn>button {
    width: 45%;
}

.diagramRow {
    position: relative;
    display: inline-block;
}

/*popup appears on top */
.popup {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popupShow {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.startTime {
    width: 70px;
    background-color: var(--daColor);
    border: none;
    color: var(--contrastColor);
}